/* src/components/Header.css */
.header {
  position: fixed;
  top: 0;
  right: 0;
  height: 67px;
  background-color: #2c3e50;
  color: #ecf0f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  z-index: 1000;
  width: 100%; /* Adjust width considering sidebar width */
  margin-left: auto; /* Ensure it aligns to the right */
  z-index: 1;
}
.space-div{
  display: none;
}

.header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h3{
    text-transform: capitalize;
    display: flex;
}
.header h3 {
  margin: 0;
}


@media (max-width: 768px) {
.space-div{
  display: inline-block;
  width: 100px;
}
}
