/* src/components/Sidebar.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #2c3e50; /* Dark blue-gray */
  color: #ecf0f1; /* Light gray */
  transition: width 0.2s;
  z-index: 9;
}
/* .empty-space{
  height: 67px;
} */
.sidebar h2 {
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: #34495e; /* Darker blue-gray */
  font-size: 1.5rem;
  color: #ecf0f1; /* Light gray */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  padding: 15px;
}

.sidebar ul li a {
  color: #ecf0f1; /* Light gray */
  text-decoration: none;
  display: block;
  font-size: 1.1rem;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #1abc9c; /* Turquoise */
  color: #2c3e50; /* Dark blue-gray */
}

@media (max-width: 768px) {
  .sidebar {
    width: 100px;
  }
  .empty-space{
  height: 67px;
}

  .sidebar h2 {
    display: none;
  }

  .sidebar ul li {
    text-align: center;
    padding: 10px 0;
  }

  .sidebar ul li a {
    text-align: center;
    padding: 10px 0;
  }
}

/* Content styling */
.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.2s;
  background-color: #ecf0f1; /* Light gray */
  min-height: 100vh;
  color: #2c3e50; /* Dark blue-gray */
}

@media (max-width: 768px) {
  .content {
    margin-left: 60px;
  }
}
